<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350553146378-h02ivpfqqbajo356n2c2c1kepbq0geta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350553146378-h02ivpfqqbajo356n2c2c1kepbq0geta</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>350553146378-qvmeu0nboa2fs03m2k8fmorjlhvlf7b0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCbg0eg1h4Sl0EdkcoEgxZ2apWDKT9ZnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>350553146378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-a2a10</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-a2a10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350553146378:ios:6fe93f7b44a17873f3cbf3</string>
</dict>
</plist>